@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

/* Styles -> Universal */
:root {
  --background: #f3f6f9;
  --hoverBackground: #dfe5ec;
  --sidebarColor: #1b1d20;
}

* {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

/* Stlyes -> Scrollbar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b0b0b0 #dfe9eb;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-track:hover {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #b0b0b0;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #989898;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #989898;
}

/* Styles --> Sidebar */
.ps-sidebar-root {
  padding: 0.5rem;
  border: none !important;
}

.ps-sidebar-root,
.ps-submenu-content,
.ps-open,
.ps-sidebar-container {
  background-color: var(--background) !important;
}

.ps-open,
.ps-submenu-content {
  margin-bottom: 0;
}

.ps-submenu-content > ul {
    padding: 0.5rem;
}

.ps-menu-button {
  border-radius: 2rem;
  transition: all 0.1s linear;
  line-height: 1.5;
  padding-inline: 14px !important;
}

.ps-menu-label {
  font-size: 14px;
  color: var(--sidebarColor);
}

.ps-menu-label,
.ps-submenu-expand-icon,
.ps-menu-icon {
  background: inherit !important;
}

.ps-submenu-expand-icon {
  padding-bottom: 4px;
}

.ps-menu-button:hover {
  background-color: var(--hoverBackground) !important;
  color: var(--hoverColor) !important;
}

.ps-menuitem-root {
  margin-bottom: 0.5rem;
}

.ps-menuitem-root:last-child {
  margin-bottom: 0;
}
